/EchoShowLambda/*.zip
/EchoShowJava/SimpleDB/.settings
/EchoShowJava/SimpleDB/.project
/EchoShowJava/SimpleDB/.classpath
/EchoShowJava/SimpleDBRestService/.settings
/EchoShowJava/SimpleDBRestService/.project
/EchoShowJava/SimpleDBRestService/.classpath
